<h2>{{#link-to 'index'}}Home{{/link-to}}</h2>
<h2>{{#link-to 'shopping-cart'}}Cart{{/link-to}}</h2>
<p>Shopping Cart Count: {{shoppingCartCount}}</p>
<form>
  <div class="form-group">
    <label for="product">Product:</label>
    {{input value=product id="product"}}
  </div>

  <button class="btn btn-primary" {{action 'productLookup'}}>Submit</button>
</form>
